<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>The Muse - Home</title>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Courgette' rel='stylesheet' type='text/css'>
<!--
<link rel="shortcut icon" href="favicon.ico">
-->

<link href="/css/style.css" media="screen" rel="stylesheet">
<link href="/css/screen.css" media="screen" rel="stylesheet">
<!-- custom CSS -->
<link href="/css/custom.css" media="screen" rel="stylesheet">

<script src="js/libs/modernizr.min.js"></script>
<script>
//<![CDATA[
(function(doc){var addEvent='addEventListener',type='gesturestart',qsa='querySelectorAll',scales=[1,1],meta=qsa in doc?doc[qsa]('meta[name=viewport]'):[];function fix(){meta.content='width=device-width,minimum-scale='+scales[0]+',maximum-scale='+scales[1];doc.removeEventListener(type,fix,true);}if((meta=meta[meta.length-1])&&addEvent in doc){fix();scales=[.25,1.6];doc[addEvent](type,fix,true);}}(document));
//]]>
</script>

</head>

<body>
<div class="body_wrap">


    <div class="logo">
    <h1><a href="index.html">The Muse</a></h1>
    <div class="logo_description">curated by John Doe</div>
  </div>

    <!-- header -->
  <div class="header">
    <div class="header_inner">
      <!-- topmenu -->
      <nav id="topmenu" class="clearfix">
        <ul class="dropdown">
                  <li class="menu-item-blue current-menu-ancestor"><a href="#"><span>Home</span></a>
                    <ul class="submenu-1">
                          <li class="current-menu-item"><a href="index.html"><span>One Column</span></a></li>
                          <li><a href="index-grid.html"><span>Two Columns</span></a></li>
                            <li><a href="index-grid2.html"><span>Dynamic Layout</span></a></li>
                      </ul>
                  </li>
                  <li class="menu-item-green"><a href="pricing.html"><span>Pricing</span></a></li>
                  <li class="menu-item-orange"><a href="#"><span>Pages</span></a>
                    <ul class="submenu-1">
                        <li><a href="services.html"><span>Services</span></a></li>
                          <li><a href="#"><span>Article Layouts</span></a>
                              <ul class="submenu-2">
                                <li><a href="post-details.html"><span>Article Ver. 1</span></a></li>
                                  <li><a href="post-details2.html"><span>Article Ver. 2</span></a></li>
                                  <li><a href="post-gallery.html"><span>Gallery</span></a></li>
                                  <li><a href="post-gallery-sidebar.html"><span>Gallery with Sidebar</span></a></li>
                                  <li><a href="post-gallery-no-comments.html"><span>Gallery (no comments)</span></a></li>
                                  <li><a href="post-video.html"><span>Video (no comments)</span></a></li>
                              </ul>
                          </li>
                          <li><a href="widgets.html"><span>Sidebar widgets</span></a></li>
                      </ul>
                  </li>
                  <li class="menu-item-red"><a href="#"><span>Portfolio</span></a>
                      <ul class="submenu-1">
                          <li><a href="portfolio-list.html"><span>List Layout</span></a></li>
                          <li><a href="portfolio-grid.html"><span>Grid Layout</span></a></li>
                      </ul>
                  </li>
                  <li class="menu-item-pink"><a href="contact.html"><span>Contact</span></a></li>
              </ul>

      <select id="topm-select" onChange="location = this.value">
        <option value="">Site Navigation</option>
        <option value="#" disabled>Home</option>
                <option value="index.html"> - One Column</option>
                <option value="index-grid.html"> - Two Column</option>
                <option value="index-grid2.html"> - Dynamic Layout</option>
                <option value="pricing.html">Pricing</option>
                <option value="#" disabled>Pages</option>
                <option value="services.html"> - Services</option>
                <option value="#" disabled> - Article Layouts</option>
                <option value="post-details.html"> -- Article Ver. 1</option>
                <option value="post-details2.html"> -- Article Ver. 2</option>
                <option value="post-gallery.html"> -- Gallery</option>
                <option value="post-gallery-sidebar.html"> -- Gallery with Sidebar</option>
                <option value="post-gallery-no-comments.html"> -- Gallery (no comments)</option>
                <option value="post-video.html"> -- Video (no comments)</option>
                <option value="widgets.html"> - Sidebar widgets</option>
                <option value="#" disabled>Portfolio</option>
                <option value="portfolio-list.html"> - List Layout</option>
                <option value="portfolio-grid.html"> - Grid Layout</option>
                <option value="contact.html">Contact</option>
      </select>
      </nav>
      <!--/ topmenu -->

    </div>
  </div>
  <!--/ header -->

<!-- middle -->
<div id="middle" class="full_width">
  <div class="container clearfix">

        <!-- post list -->
      <div class="postlist list_view clearfix">

            <div class="post-item boxed">
              <span class="post-label label-link"></span>
              <div class="post-title">
                <h2><a href="#">There is only one boss. The customer. He can fire everybody in the company by spen- ding his cash</a></h2>
                </div>
                <div class="post-meta-top">
                  <span class="post-date">SEP 5TH, 2012 </span> <span class="post-author">Sam Walton</span>
                </div>
            </div>

            <div class="post-item boxed">
              <span class="post-label label-image"></span>
              <div class="post-title">
                <h2><a href="post-details.html">UP fan takes to the skies in a house by tying hundreds of balloons to it …</a></h2>
                </div>
                <div class="post-meta-top">
                  <span class="post-date">AUG 26TH, 2012 </span> <span class="post-author">Viet-My Bui</span>
                </div>
                <!-- slider -->
                <div class="slider">
                    <div class="slider_container clearfix" id="slider1">
                        <div class="slider-item"><img src="/img/temp/slider_1_1.jpg" alt=""></div>
                        <div class="slider-item"><img src="/img/temp/slider_1_2.jpg" alt=""></div>
                        <div class="slider-item"><img src="/img/temp/slider_1_3.jpg" alt=""></div>
                    </div>
                    <a class="prev" id="slider1_prev" href="#"><span>prev</span></a>
                    <a class="next" id="slider1_next" href="#"><span>next</span></a>
                </div>

                <!--/ slider -->
                <div class="post-meta-bot clearfix">
                  <a href="post-details.html" class="button"><span>Read more</span></a> <a href="post-details.html#comments" class="link-comments">15 comments</a>
                </div>
            </div>

            <div class="post-item boxed">
              <span class="post-label label-video"></span>
              <div class="post-title">
                <h2><a href="post-video.html">Pixar plans to rerelease its most popular animated movies in 3D</a></h2>
                </div>
                <div class="post-meta-top">
                  <span class="post-date">AUG 21TH, 2012 </span> <span class="post-author">Theo Prins</span>
                </div>
                <div class="post-video">
                  <iframe src="http://player.vimeo.com/video/44434997?byline=0&amp;portrait=0" width="500" height="282" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <div class="post-descr">
                <p>The announcement marks the latest in a long line of sequels for film studio Pixar, which was once renowned for its original stories. Starring the voice talent of Albert Brooks as Marlin, and talk show host Ellen DeGeneres as his goofy, forgetful companion Dory, it made $867.8m (£555m) when it was released in </p>
                </div>
                <div class="post-meta-bot clearfix">
                  <a href="post-video.html" class="button"><span>Read more</span></a> <a href="post-video#comments" class="link-comments">11 comments</a>
                </div>
            </div>

            <div class="post-item boxed">
              <span class="post-label label-audio"></span>
              <div class="post-title">
                <h2><a href="post-details.html">Coldplay's &ldquo;Charlie Brown&rdquo; </a></h2>
                </div>
                <div class="post-meta-top">
                  <span class="post-date">AUG 2nd, 2012 </span> <span class="post-author">John Doe</span>
                </div>
                <div class="post-image"><img src="/img/temp/entry_img_audio.jpg" alt=""></div>
                <div class="post-audio">
                <audio preload="auto" controls>
          <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
          <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
          <source src="audio/BlueDucks_FourFlossFiveSix.wav">
        </audio>
                </div>
            </div>

            <div class="post-item boxed">
              <span class="post-label label-quotes"></span>
              <div class="post-title">
                <h2><a href="post-details2.html">It had long since come to my attention that  accomplished people rarely sat back</a></h2>
                </div>
                <div class="post-meta-top">
                  <span class="post-date">JUL 17TH, 2012 </span> <span class="post-author">Leonardo D.</span>
                </div>
                <div class="post-descr">
                <p>Sandra Bruce, equalities strategist at Aberdeen City Council said: "Some of the key areas of debate around Gypsy Travellers are about halting sites, unauthorise.</p>
                </div>
                <div class="post-meta-bot clearfix">
                  <a href="post-details2.html" class="button"><span>Read more</span></a> <a href="post-details2.html#comments" class="link-comments">6 comments</a>
                </div>
            </div>

        </div>
        <!--/ post list -->

        <div class="tf_pagination">
        <a href="index-grid.html" class="button"><span>Load more stories</span></a>
        </div>

    </div>
</div>
<!--/ middle -->

<!-- footer social -->
<div class="footer_social">
  <div class="footer_social_inner">
    <div class="container">
        <a href="#" class="social-fb">Facebook</a>
          <a href="#" class="social-twitter">Twitter</a>
          <a href="#" class="social-dribble">Dribble</a>
          <a href="#" class="social-flickr">Flickr</a>
        <a href="#" class="social-rss">RSS Feed</a>
      </div>
    </div>
</div>
<!--/ footer social -->

<div class="footer">
  <div class="container">
      <p class="copyright">Made with love at ThemeFuse  &nbsp;|&nbsp;  <a href="http://themefuse.com">Premium WordPress Themes</a></p>
    </div>
</div>

</div>

<!--[if lt IE 9]>
<script src="js/libs/respond.min.js"></script>
<![endif]-->
<!-- main JS libs  -->
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/jquery-migrate.min.js"></script>
<!-- scripts  -->
<script src="js/general.js"></script>
<script src="js/hoverIntent.js"></script>
<!-- carousel -->
<script src="js/jquery.carouFredSel.min.js"></script>
<!-- audio player -->
<link href="css/audioplayer.css" rel="stylesheet">
<script src="js/audioplayer.min.js"></script>
<script>
//<![CDATA[
jQuery(document).ready(function($) {
  $('#slider1').carouFredSel({
    next : "#slider1_next",
    prev : "#slider1_prev",
    responsive: true,
    infinite: false,
    auto: false,
    height: "auto",
    items: {
      visible: 1,
      width: 500,
      height: '56%'
    },
    scroll: {
      fx: "crossfade",
      duration: 200
    }
  });
});
//]]>
</script>

</body>
</html>